# python compiled and test files
*.pyc
*.pyo

.cache
.pytest_cache
__pycache__

# distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# notebook products
.ipynb_checkpoints
